################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/GetMeRide/v15
/GetMeARide/.vs/GetMeARide
